/* css gmaps. E' preferibile autogenerarlo a partire dal sorgente less */
/*progress bar*/
.maps-loading_layer {
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  z-index: 10;
  position: absolute;
}
#progress-bar-box-id {
    border: 1px solid #000000;
    height: 30px;
    margin: auto;
    overflow: hidden;
    width: 400px;
}
#progress-bar-percentage-id {
    background: #B0783F;
    background: -moz-linear-gradient(center top , #B0783F, #FFCC99, #B0783F) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top , #B0783F, #FFCC99, #B0783F) repeat scroll 0 0 transparent;
    background: linear-gradient(center top , #B0783F, #FFCC99, #B0783F) repeat scroll 0 0 transparent;
    height: 30px;
}
#progress-bar-display-percentage-id {
    color: #000;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
}
#progress-bar-display-text-id {
    color: #000;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 150px;
    text-align: center;
}
/* fullscreen */
.maps-canvas_container.fullscreen {
    position: absolute !important;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
}
.maps-canvas_container.fullscreen #map-canvas {
    height: 100% !important;
}
.maps-canvas_container.fullscreen .maps-panel {
    height: 100% !important;
}
/*panel*/
.maps-panel {
  background: #fcfcfc;
  box-shadow: -8px 0px 5px -5px #999, inset 0 5px 5px -5px #999, inset 0 -5px 5px -5px #999;;
  overflow: hidden;
  opacity: 0.9;
}
.maps-panel_content, .maps-panel_controllers {
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}
.maps-panel h2 {
  font-size: 1em;
}
.maps-panel ul {
  list-style-type: none;
  padding-left: 5px;
}
.maps-panel ul li:hover {
  color: #B0783F;
}
.maps-panel select {
  background: #fff;
  border: 1px solid #aaa;
}
.toggle, .ctrl-fullscreen {
  position: relative;
  float:left;
  padding: 0;
  margin:0;
  cursor: pointer;
}
.ctrl-fullscreen {
    float: right;
}
.toggle:before {
    content: "";
    font-family: 'FontAwesome';
}
.toggle.expanded:before {
    content: "";
}
.ctrl-fullscreen:before {
    content: "";
    font-family: 'FontAwesome';
}
.ctrl-fullscreen.expanded:before {
    content: "";
}

ul.attachments {
    list-style-type: none;
}
ul.attachments li:before {
    content: "";
    margin-right: 8px;
    font-family: 'FontAwesome';
}
ul.attachments li.pdf:before {
    content: "";
}
ul.attachments li.doc:before, ul.attachments li.docx:before {
    content: "";
}
ul.attachments li.xls:before, ul.attachments li.xlsx:before {
    content: "";
}
ul.attachments li.zip:before, ul.attachments li.rar:before, ul.attachments li.tar:before {
    content: "";
}
ul.attachments li.jpg:before, ul.attachments li.jpeg:before, ul.attachments li.png:before, ul.attachments li.bmp:before {
    content: "";
}
ul.attachments li.txt:before, ul.attachments li.rtf:before {
    content: "";
}
