.moogallery tr {
	vertical-align: middle;
}
.moogallery td {
	padding: 5px;
	border: 1px solid #eee;
}
.moogallery_tip {
	padding: 10px;
	max-width: 200px;
	background: #333;
	color: #fff;
}
.moogallery_overlay {
	background: #000;
}
.moogallery_lightbox_container {
	background: #000;
	color: #fff;
	padding: 20px;
	border: 1px solid #666;
}
.moogallery_lightbox_info {
	text-align: left;
}
.moogallery_lightbox_info_title {
	font-weight: bold;
	text-align: left;
}
.moogallery_lightbox_info_description {
}
.moogallery_lightbox_info_credits {
	font-style: italic;
}
